# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# latex
*.aux
*.log
*.bbl
*.blg

#editor
*.asv~
*.swp

*.pdf
*.toc
*.m~~
